*{
    margin: 0%;
    padding: 0%;
    box-sizing: border-box;
}

.container{
    margin: 0 10%;
    text-align: justify;
    
}

hr{
    border: 2px solid red;
    margin: 2% 0;
}

img {
    max-width: 300px;
    max-height: 300px;
    width: 100%;
    height: auto;
    float: right;
    margin: 1%;
    border: 10px solid black;
    border-radius: 10px;
}

p{
    margin-bottom: 1%;
}