*{
    margin: 0%;
    padding: 0%;
    box-sizing: border-box;
}

body{
    width: 100vw;
    height: 100vh;
}

.container{
    width: 100%;
    height: 100%;
    display: grid;
    gap: 0.4rem;
    grid-template-columns: repeat(1,1fr);
    /* if row not define it will create automatic equal sized rows */
    /* grid-template-rows: repeat(2, 1fr); */
    background-color: rgb(215, 113, 11);
    border: 5px solid green;
    padding: 2rem;
}
.item{
    background-color: rgb(115, 115, 186);
    color: aliceblue;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 2rem;
    border: 2px solid black;
    border-radius: 20px;
}

.navbar, .footer{
    background-color: rgb(72, 72, 145);
}


@media  (min-width : 760px){  
    
    .container{
    grid-template-columns: repeat(3,1fr);
    }

    .navbar, .footer{
    grid-column: span 3;
    background-color: rgb(72, 72, 145);
}

.sidebar-left{
    grid-row-start:2;
    grid-row-end:4;
}

.main, .sidebar-right{
    grid-row-start: 2;
    grid-row-end : 5;
}

}