
div {
  padding: 15px; 
}

.div1 {
  background: red;
  float: left;
}

.div2 {
  background: yellow;
  clear: left;
}

.div3 {
    float: right;
    /* clear: right; */
  background: green;
}

.div4{
    background-color: chocolate;
    /* clear: right; */
    /* float: right; */
}
