*{
    margin: 0%;
    padding: 0%;
    box-sizing: border-box;
}

body{
    width: 100vw;
    height: 100vh;
}

.container{
    width: 100%;
    height: 100%;
    /* border: 10px solid black; */
    /* padding: 20px; */
    background-color: #FDFCF8;
    /* background-color: #C9B9A5; */
}

.navbar,.small-screen-navbar,.small-screen-sidebar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding:0.8rem 1rem;
    height: min-content;
    background-color: #5A6D59;
    color: white;
}

.small-screen-navbar,.small-screen-sidebar{
    display: none;
}
button{ 
    margin:0rem 0.3rem;
    padding: 0.8rem;
    border: none;
    
    border-radius: 20px;
    transition: all 0.3s ease;
    background-color: #8FA38E;
    color: white;

    box-shadow: 0 10px 20px rgba(0,0,0,0.5);
}

svg{
    /* color: white; */
    margin-left: 0.8rem;
}

.heading{
    text-align: center;
    margin: 3rem 0;
    font-weight: bolder;
    font-size: xx-large;
}

.main-content{
    display: flex;
    /* flex-direction: column; */
    flex-wrap: wrap;
}

.post{
    width: 400px;   
    height: 400px;
    margin: 1rem 0px;
    display: flex;
    padding: 2rem;
    gap: 2rem;
    flex-direction: column;
    transition: all 0.4s ease;  
    box-shadow: 0 10px 20px rgba(0,0,0,0.5);
    cursor: pointer;
    border-radius: 20px;

}
.post:hover{

    box-shadow: 0 20px 30px rgba(0,0,0,1);
    transform: scale(1.1);
}

.posts-container{
    width: 90%;
    display: flex;
    flex-wrap: wrap;
    gap: 2rem;
    align-items: center;
    justify-content: center;
    /* background-color: white; */
}
.sidebar{
    padding: 0 1rem;
    width: 10%;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    background-color: #5A6D59;
    color: white;
}
img{
    width:100%;
    height: 200px;
    overflow: hidden;
    border-radius: 20px;
}

.footer{
    margin: 2rem 0;
    padding: 0 4rem;
    display: flex;
    justify-content: space-between;
}

a{
    margin: 0 0.8rem;
}

.on-hover{
    transition: all 0.3s ease;
    color:white;

}

.on-hover:hover{
    background-color: gray;
    color: white;
    transform: scale(1.2);
}

.logo{
    font-size: 3rem;
    font-weight: 3rem;
    color: white;
}

.clicked{
    background-color: gray;
    color: white;
    transform: scale(1.2);
}

hr{
    margin: 2rem;
}

.small-screen-navbar{
    display: none;
}

@media (max-width:480px) {
    .navbar, .sidebar{
        display: none;
    }
    
    /* .small-screen-navbar-icon{
        display: flex;
        
    } */
    .small-screen-sidebar-icon {
        
        display: flex;
        justify-content: right;
        margin: 1rem 0;
    }
    
    .hover-on-menu:hover .small-screen-navbar{
        display: flex;
    }
}